/* general styles */

a {
	text-decoration: none;
}


/* header */

.header {
	height: 100px;
	padding-top: 25px;
	position: relative;
}

.header .title {
	height: 100px;
	padding-left: 85px;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-left: 25px;
	
	background: url(logo.png) no-repeat left center;
	
	font-size: 325%;
	
	cursor: pointer;
	display: inline;
}

.header .subtitle {
	display: inline;
	position: absolute;
	left: 110px;
	top: 60px;
	cursor: pointer;
}

.header .version-tag {
	position: absolute;
	right: 25px;
	bottom: 25px;
	
	border-style: solid;
	border-width: 1px;
	border-color: #999;
	border-bottom: none;
	
	padding: 0.75em;
	padding-bottom: 0.325em;
	padding-top: 0.5em;
	
	border-top-left-radius: 0.75em;
	-moz-border-radius-topleft: 0.75em;
	-webkit-border-top-left-radius: 0.75em;
	-ie-border-top-left-radius: 0.75em;
	-o-border-top-left-radius: 0.75em;
	border-top-right-radius: 0.75em;
	-moz-border-radius-topright: 0.75em;
	-webkit-border-top-right-radius: 0.75em;
	-ie-border-top-right-radius: 0.75em;
	-o-border-top-right-radius: 0.75em;
}

.header .version-tag .stable,
.header .version-tag .latest {
	display: block;
}


/* sidebar */

.sidebar,
.main {
	font-size: 130%;
}

.sidebar {
	width: 11em;
	position: absolute;
	top: 135px;
	left: 0px;
	
	line-height: 1.5em;
}

.sidebar li {
	list-style-type: none;
	display: block;
}

.sidebar .nav-title {
	margin-left: -0.5em;
	margin-bottom: 0.5em;
	font-weight: bold;
	font-size: 110%;
}

.sidebar a,
.sidebar a:visited {
	color: #00b;
}


/* main content */

.main {
	margin-left: 11em;
}

.main .content {
	font-size: 90%;
}


/* page title */

.main .content .title {
	border-bottom: solid;
	border-width: 0.1em;
	border-color: #ccc;
	
	font-size: 290%;
	
	margin-top: 0em;
	margin-right: 1em;
}


/* monospace */

.main .content .literal,
.main .content .literal-block {
	font-family: 'Inconsolata', monospace;
	font-size: 110%;
}

.main .content .literal-block {
	border-style: solid;
	border-width: 1px;
	border-color: #f6f6d1;
	
	border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-ie-border-radius: 0.5em;
	-o-border-radius: 0.5em;
	
	background-color: #eeeecb;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-left: 1.5em;
	margin-right: 3em;
	
	overflow: auto;
}

ul.simple li .literal,
.main .content .literal-block{
	line-height: 1.2em;
}
