/* general styles */

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body {
	margin-top: 0px;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	min-width: 70em;
}


/* header */

.header {
	height: 100px;
	padding-top: 25px;
	position: relative;
}

.header .title {
	height: 100px;
	padding-left: 85px;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-left: 25px;
	
	background: url(logo.png) no-repeat left center;
	
	font-size: 325%;
	
	cursor: pointer;
	display: inline;
}

.header .subtitle {
	display: inline;
	position: absolute;
	left: 110px;
	top: 60px;
	cursor: pointer;
}

.header .version-tag:hover {
	text-decoration: none;
}

.header .version-tag {
	position: absolute;
	right: 25px;
	top: 0px;
	
	background: #ccc;
	
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
	border-bottom: none;
	
	padding: 0.75em;
	padding-top: 0.325em;
	padding-bottom: 0.5em;
	
	border-bottom-left-radius: 0.75em;
	-moz-border-radius-bottomleft: 0.75em;
	-webkit-border-bottom-left-radius: 0.75em;
	-ie-border-bottom-left-radius: 0.75em;
	-o-border-bottom-left-radius: 0.75em;
	border-bottom-right-radius: 0.75em;
	-moz-border-radius-bottomright: 0.75em;
	-webkit-border-bottom-right-radius: 0.75em;
	-ie-border-bottom-right-radius: 0.75em;
	-o-border-bottom-right-radius: 0.75em;
}

.header .version-tag td {
	font-weight: bold;
	color: #333;
	text-shadow: #f0f0f0 0px 1px;
}


/* sidebar */

.sidebar,
.main,
.below-main {
	font-size: 120%;
}

.sidebar {
	float: left;
	width: 12em;
	position: relative;
	left: 0px;
	
	line-height: 1.5em;
}

.sidebar li {
	list-style-type: none;
	display: block;
}

.sidebar .nav-title {
	margin-left: -0.5em;
	margin-bottom: 0.5em;
	font-weight: bold;
	font-size: 110%;
}

.sidebar .nav-link .nav-link {
	margin-left: -1.5em;
}

.sidebar li ul {
	margin-bottom: 0.5em;
}

.sidebar a,
.sidebar a:visited {
	color: #00b;
}

.main {
	position: relative;
	
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #fff;
	
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: #fff;
	
	border-top-left-radius: 1em;
	-moz-border-radius-topleft: 1em;
	-webkit-border-top-left-radius: 1em;
	-ie-border-top-left-radius: 1em;
	-o-border-top-left-radius: 1em;
	
	padding-top: 1em;
	padding-left: 2em;
	
	margin-left: 12em;
	margin-top: 0em;
	
	box-shadow: -0.4em -0.4em 2em #888;
	-moz-box-shadow: -0.4em -0.4em 2em #888;
	-webkit-box-shadow: -0.4em -0.4em 2em #888;
	-ie-box-shadow: -0.4em -0.4em 2em #888;
	-o-box-shadow: -0.4em -0.4em 2em #888;
}

.right-of-main,
.below-main {
	background: #fff;
}

.right-of-main {
	position: absolute;
	right: -50px;
	top: -2px;
	width: 50px;
	height: 100%;
}

.below-main {
	position: relative;
	bottom: -50px;
	left: 5px;
	height: 50px;
	margin-left: -2em;
}


/* main content */

.main .content {
	font-size: 105%;
	line-height: 1.5em;
}

.main .content p {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}


/* page title */

.main .content .title {
	border-bottom: solid;
	border-width: 0.1em;
	border-color: #ccc;
	
	font-size: 290%;
	line-height: 1.5em;
	
	margin-top: 0em;
	margin-right: 1em;
}


/* monospace */

.main .content .literal,
.main .content .literal-block {
	font-family: 'Inconsolata', monospace;
	font-size: 110%;
}

.main .content .literal-block {
	border-style: solid;
	border-width: 1px;
	border-color: #f6f6d1;
	
	border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-ie-border-radius: 0.5em;
	-o-border-radius: 0.5em;
	
	background-color: #eeeecb;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-left: 1.5em;
	margin-right: 3em;
	
	overflow: auto;
}

ul.simple li .literal,
.main .content .literal-block{
	line-height: 1.2em;
}
